{% include 'base_admin.html' %}
      <div class="container-fluid content-inner pb-0">
<div>
   <div class="row">
      <div class="col-sm-12">
         <div class="card">
           <div class="card-header" style="display: flex;justify-content: space-between;align-items: center;">
               <h4 class="card-title text-white">Working Exchanges</h4>
            </div>
            <div class="d-flex mt-3 ms-4 me-4 justify-content-between">
                <!--select class="form-select-custom" style="padding:10px 15px 10px 15px;color:#fff;background-color:#202022;background-repeat: no-repeat;
                    background-position: right 1rem center;
                    
                    background-size: 16px 12px;
                    border: 1px solid #69697a;
                    border-radius: .5rem;" id="validationDefault04" required>
                    <option selected disabled value="">10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                </select-->
                <div class="form-outline w-100">
                    <input type="search" id="search_filter" class="form-control ms-1" placeholder="Search.." aria-label="Search" />
                </div>
            </div>
             <div class="card-body">


                <div class="table-responsive">
                    <table class="table" id="assets_table">
                        <thead class="">
                            <tr>
                                <th>Exchange</th>
                                <th>Status</th>
                                <th>Withdraw</th>
                                <th>Deposit</th>
                                <th>Transfer</th>
                                <th>Fetch Transactions</th>
                                <th>Fetch Closed Orders</th>
                                <th>Fetch Open Orders</th>
                                <th>Cancel Order</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    
                    <div class="d-flex justify-content-between flex-wrap card-header" style="margin:0;align-items: center;">
                        <div class="dataTables_info" id="example_info" role="status" aria-live="polite">Showing 1 to {% if users|count <= 10 %} {{users|count}} {% else %} 10 {% endif %} of {{ users|count }} entries</div>
                           <ul class="pagination" style="margin:0;"></ul>
                        </div>
                  </div>
                
             </div>
                
             </div>
         </div>
      </div>
   </div>
</div>
      </div>
      
      <div class="modal fade" id="exampleModal" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
           <div class="modal-content">
              <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel1">Modal title</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                 </button>
              </div>
              <div class="modal-body">
                 <!--send mail (subject - body)-->
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="subject_mail" placeholder="Subject">
                        <label for="floatingInput">Subject</label>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" id="body_mail" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Body</label>
                    </div>
              </div>
              <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                 <button type="button" class="btn btn-primary" id="send_mail">Save changes</button>
              </div>
           </div>
        </div>
     </div>

          </main>
     
    <!-- Wrapper End-->
    <!-- offcanvas start -->

    <!-- Backend Bundle JavaScript -->
    <script src="/static/assets/js/libs.min.js"></script>
    <!-- widgetchart JavaScript -->
    <script src="/static/assets/js/charts/widgetcharts.js"></script>
    <!-- fslightbox JavaScript -->
    <script src="/static/assets/js/fslightbox.js"></script>
    <!-- app JavaScript -->
    <script src="/static/assets/js/app.js"></script>
    <!-- apexchart JavaScript -->
    <script src="/static/assets/js/charts/apexcharts.js"></script>


    <script>
        var exchanges = JSON.parse('{{ exchanges|tojson }}');
        example_info.innerHTML = `Showing 1 to ${(exchanges.length<=10 ? exchanges.length: 10 )} of ${exchanges.length} entries`
        var itemsPerPage = 10;
        var totalPages = Math.ceil(exchanges.length / itemsPerPage);
        var currentPage = 1;
    
        function paginateUsers() {
            // Update the table body with paginated exchanges
            var tableBody = document.querySelector('tbody');
            tableBody.innerHTML = '';
            console.log(exchanges)
            exchanges.forEach(function (exchange) {
                
                var row = document.createElement('tr');
                row.innerHTML = `
                    <td><img src="/static/images/${exchange.exchange.includes('binance')  ? 'binance' : (exchange.exchange.includes('bitfinex')  ? 'bitfinex' : (exchange.exchange.includes('coinbase')  ? 'coinbase' : (exchange.exchange.includes('okex')  ? 'okex' : (exchange.exchange.includes('huobi')  ? 'huobi' : (exchange.exchange.includes('hitbtc')  ? 'hitbtc' : (exchange.exchange.includes('lbank')  ? 'lbank' : (exchange.exchange.includes('mexc')  ? 'mexc' : (exchange.exchange.includes('kraken')  ? 'kraken' : exchange.exchange))))))))}.svg" style="margin:0 10px;${exchange.exchange=='bybit' || exchange.exchange=='zonda'?'filter:invert(1);':''}" class="img-fluid avatar avatar-30" alt="img51">${exchange.exchange}</td>
                    <td style="direction: rtl;">
                        <div class="mb-3 form-check form-switch" style="display: inline;margin-left: 15px;">
                            <input class="form-check-input toggle_exchange" type="checkbox" ${exchange.isActive ? 'checked="true"':''}>
                        </div>
                    </td>
                    <td>
                        ${exchange['has']['withdraw'] ? `<i class="fa fa-check" style="color: var(--bs-success);"></i>` : `<i class="fa fa-times" style="color: #d35b4d;"></i>`}
                    </td>
                    <td>
                        ${exchange['has']['fetchDepositAddress'] ? `<i class="fa fa-check" style="color: var(--bs-success);"></i>` : `<i class="fa fa-times" style="color: #d35b4d;"></i>`}
                    </td>
                    <td>
                        ${exchange['has']['transfer'] ? `<i class="fa fa-check" style="color: var(--bs-success);"></i>` : `<i class="fa fa-times" style="color: #d35b4d;"></i>`}
                    </td>
                    <td>
                        ${exchange['has']['fetchLedger'] ? `<i class="fa fa-check" style="color: var(--bs-success);"></i>` : `<i class="fa fa-times" style="color: #d35b4d;"></i>`}
                    </td>
                    <td>
                        ${exchange['has']['fetchClosedOrders'] ? `<i class="fa fa-check" style="color: var(--bs-success);"></i>` : `<i class="fa fa-times" style="color: #d35b4d;"></i>`}
                    </td>
                    <td>
                        ${exchange['has']['fetchOpenOrders'] ? `<i class="fa fa-check" style="color: var(--bs-success);"></i>` : `<i class="fa fa-times" style="color: #d35b4d;"></i>`}
                    </td>
                    <td>
                        ${exchange['has']['cancelOrder'] ? `<i class="fa fa-check" style="color: var(--bs-success);"></i>` : `<i class="fa fa-times" style="color: #d35b4d;"></i>`}
                    </td>
                    
                    
                    
                `;
                tableBody.appendChild(row);
            });

            document.querySelectorAll(".toggle_exchange").forEach(e=>{
                e.addEventListener("change",async function(){
            
                    let response = await fetch("/toggle_exchange",{
                        method:"POST",
                        body:JSON.stringify({
                            exchange:this.parentElement.parentElement.parentElement.querySelector("td").textContent,
                            status:this.checked
                        }),
                        headers:{
                            "Content-Type":"application/json"
                        }
                    })
                    let result = await response.json();
                    if(result.ok){
                        swal("Success","Exchange Status Changed","success")
                    } else {
                        swal("Error",result.message,"error")
                    }
                })
            
            })
        }



        paginateUsers()

        let currentPage2 = 0
        const pageSize = 10

         if (!assets_table.nextElementSibling.querySelector(".pagination").innerHTML)
         for(let i=1;i<=Math.ceil((assets_table.querySelectorAll("tr").length-1)/pageSize);i++){
            assets_table.nextElementSibling.querySelector(".pagination").insertAdjacentHTML("beforeend",
            `<li class="page-item ${i==1?'active':''}">
               <a class="page-link" href="#" data-page="${i}">${i}</a>
            </li>`
            );
         }
         
         if (currentPage2 == 0) currentPage2 = 1;

         function showPage(pageNumber) {
            [...assets_table.querySelectorAll("tbody tr")]
            .filter(e=>!e.classList.contains("hidden"))
            .forEach(tr => tr.style.display = "none");

            [...assets_table.querySelectorAll("tbody tr")]
            .filter(e=>e.classList.contains("hidden"))
            .forEach(tr => tr.style.display = "");

            [...assets_table.querySelectorAll("tbody tr")].filter((e,i)=>!e.classList.contains("hidden"))
            .filter((e,i)=>i<pageNumber*pageSize&&i>=pageNumber * pageSize - pageSize)
            .forEach(tr => tr.style.display = "");

            currentPage2 = pageNumber;
         }

         assets_table.nextElementSibling.querySelector(".pagination").querySelectorAll(".page-link").forEach(link => {
            link.addEventListener("click", event => {
               event.preventDefault();
               assets_table.nextElementSibling.querySelector(".pagination").querySelectorAll(".page-link").forEach(link => {
                  link.parentElement.classList.remove("active");
               })
               event.target.parentElement.classList.add("active");
               const pageNumber = parseInt(event.target.getAttribute("data-page"));
               showPage(pageNumber);
            });
         });

         showPage(currentPage2);

         search_filter.addEventListener("input",function(){
            currentPage2 = 1;
            assets_table.querySelectorAll("tbody tr").forEach(tr => tr.style.display = "");
            [...assets_table.querySelectorAll("tbody tr")].filter(e=>{
               (e.querySelectorAll("td")[0].innerHTML.toLowerCase().includes(search_filter.value.toLowerCase()) || search_filter.value == "") ? e.classList.remove("hidden") : e.classList.add("hidden")
            });
            assets_table.nextElementSibling.querySelector(".pagination").innerHTML = ''
            for(let i=1;i<=Math.ceil(([...assets_table.querySelectorAll("tbody tr")].filter((e,i)=>!e.classList.contains("hidden")).length)/pageSize);i++){
               assets_table.nextElementSibling.querySelector(".pagination").insertAdjacentHTML("beforeend",
               `<li class="page-item ${i==1?'active':''}">
                  <a class="page-link" href="#" data-page="${i}">${i}</a>
               </li>`
               );
            }
            assets_table.nextElementSibling.querySelector(".pagination").querySelectorAll(".page-link").forEach(link => {
               link.addEventListener("click", event => {
                  event.preventDefault();
                  assets_table.nextElementSibling.querySelector(".pagination").querySelectorAll(".page-link").forEach(link => {
                     link.parentElement.classList.remove("active");
                  })
                  event.target.parentElement.classList.add("active");
                  const pageNumber = parseInt(event.target.getAttribute("data-page"));
                  showPage(pageNumber);
               });
            });
            showPage(currentPage2)
         })

         send_mail.addEventListener("click",async function(){
            let oldHTML = this.innerHTML

            this.setAttribute("disabled","disabled")
            this.innerHTML = '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span class="visually-hidden">Loading...</span>'

            let subject = subject_mail.value
            let body = body_mail.value

            let response = await fetch("/send_mail_from_admin",{
                method:"POST",
                body:JSON.stringify({
                    subject:subject,
                    body:body,
                }),
                headers:{
                    "Content-Type":"application/json"
                }
            })
            let result = await response.json();
            if(result.ok){
                swal("Success","Email Sent","success")
                this.removeAttribute("disabled")
                this.innerHTML = oldHTML
            } else {
                swal("Error",result.message,"error")
                this.removeAttribute("disabled")
                this.innerHTML = oldHTML
            }
         })
    </script>
  </body>
</html>