{% extends 'base_ai.html' %}
{% block content %}
<span></span>
                        <style data-emotion="css 16ld5u0">
                            .css-16ld5u0 {
                                -webkit-margin-start: auto;
                                margin-inline-start: auto;
                                -webkit-margin-end: auto;
                                margin-inline-end: auto;
                                padding: 20px;
                                -webkit-padding-end: 20px;
                                padding-inline-end: 20px;
                                min-height: 100vh;
                                padding-top: 50px;
                            }
                            @media screen and (min-width: 48em) {
                                .css-16ld5u0 {
                                    padding: 30px;
                                }
                            }
                        </style>
                        <div class="css-16ld5u0">
                            <style data-emotion="css gwdyqv">
                                .css-gwdyqv {
                                    margin-top: 70px;
                                }
                                @media screen and (min-width: 48em) {
                                    .css-gwdyqv {
                                        margin-top: 0px;
                                    }
                                }
                                @media screen and (min-width: 80em) {
                                    .css-gwdyqv {
                                        margin-top: 0px;
                                    }
                                }
                            </style>
                            <div class="css-gwdyqv">
                                <style data-emotion="css 1b31p0x">
                                    .css-1b31p0x {
                                        display: grid;
                                        grid-gap: 20px;
                                        grid-template-columns: repeat(1, minmax(0, 1fr));
                                    }
                                    @media screen and (min-width: 48em) {
                                        .css-1b31p0x {
                                            grid-template-columns: repeat(2, minmax(0, 1fr));
                                        }
                                    }
                                    @media screen and (min-width: 62em) {
                                        .css-1b31p0x {
                                            grid-template-columns: repeat(3, minmax(0, 1fr));
                                        }
                                    }
                                    @media screen and (min-width: 80em) {
                                        .css-1b31p0x {
                                            grid-template-columns: repeat(4, minmax(0, 1fr));
                                        }
                                    }
                                </style>
                                <div class="css-1b31p0x">
                                    <a href="/horizon-ai-template/essay">
                                        <style data-emotion="css eco0c7">
                                            .css-eco0c7 {
                                                padding: 20px;
                                                display: -webkit-box;
                                                display: -webkit-flex;
                                                display: -ms-flexbox;
                                                display: flex;
                                                -webkit-flex-direction: column;
                                                -ms-flex-direction: column;
                                                flex-direction: column;
                                                width: 100%;
                                                position: relative;
                                                border-radius: 14px;
                                                min-width: 0px;
                                                word-wrap: break-word;
                                                background: #ffffff;
                                                box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
                                                -webkit-background-clip: border-box;
                                                background-clip: border-box;
                                                height: 100%;
                                                padding-top: 24px;
                                                padding-bottom: 24px;
                                                -webkit-padding-start: 24px;
                                                padding-inline-start: 24px;
                                                -webkit-padding-end: 24px;
                                                padding-inline-end: 24px;
                                            }
                                        </style>
                                        <div class="css-eco0c7">
                                            <style data-emotion="css 1xotm87">
                                                .css-1xotm87 {
                                                    display: -webkit-box;
                                                    display: -webkit-flex;
                                                    display: -ms-flexbox;
                                                    display: flex;
                                                    -webkit-flex-direction: column;
                                                    -ms-flex-direction: column;
                                                    flex-direction: column;
                                                    -webkit-align-items: start;
                                                    -webkit-box-align: start;
                                                    -ms-flex-align: start;
                                                    align-items: start;
                                                    -webkit-box-pack: center;
                                                    -ms-flex-pack: center;
                                                    -webkit-justify-content: center;
                                                    justify-content: center;
                                                    margin-top: auto;
                                                    margin-bottom: auto;
                                                    height: 100%;
                                                }
                                                @media screen and (min-width: 80em) {
                                                    .css-1xotm87 {
                                                        -webkit-align-items: start;
                                                        -webkit-box-align: start;
                                                        -ms-flex-align: start;
                                                        align-items: start;
                                                        -webkit-box-pack: center;
                                                        -ms-flex-pack: center;
                                                        -webkit-justify-content: center;
                                                        justify-content: center;
                                                    }
                                                }
                                            </style>
                                            <div class="css-1xotm87">
                                                <style data-emotion="css 13u2beq">
                                                    .css-13u2beq {
                                                        display: -webkit-box;
                                                        display: -webkit-flex;
                                                        display: -ms-flexbox;
                                                        display: flex;
                                                        -webkit-align-items: start;
                                                        -webkit-box-align: start;
                                                        -ms-flex-align: start;
                                                        align-items: start;
                                                        width: 100%;
                                                        margin-bottom: 30px;
                                                    }
                                                </style>
                                                <div class="css-13u2beq">
                                                    <style data-emotion="css hsnx4c">
                                                        .css-hsnx4c {
                                                            font-size: 34px;
                                                            line-height: 120%;
                                                        }
                                                    </style>
                                                    <p class="chakra-text css-hsnx4c">📝</p>
                                                </div>
                                                <div class="css-0">
                                                    <style data-emotion="css 1ddr51z">
                                                        .css-1ddr51z {
                                                            font-size: var(--chakra-fontSizes-lg);
                                                            color: var(--chakra-colors-navy-700);
                                                            font-weight: 700;
                                                            margin-bottom: 8px;
                                                        }
                                                    </style>
                                                    <p class="chakra-text css-1ddr51z">Write an Essay</p>
                                                    <style data-emotion="css 1isoeb5">
                                                        .css-1isoeb5 {
                                                            font-size: var(--chakra-fontSizes-sm);
                                                            color: var(--chakra-colors-gray-500);
                                                            font-weight: 500;
                                                        }
                                                    </style>
                                                    <p class="chakra-text css-1isoeb5">Generate an Essay based on a type, subject and number of paragraphs.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/horizon-ai-template/simplifier">
                                        <div class="css-eco0c7">
                                            <div class="css-1xotm87">
                                                <div class="css-13u2beq"><p class="chakra-text css-hsnx4c">👶</p></div>
                                                <div class="css-0">
                                                    <p class="chakra-text css-1ddr51z">Content Simplifier</p>
                                                    <p class="chakra-text css-1isoeb5">Summarize text content for all age types of audience.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/horizon-ai-template/product-description">
                                        <div class="css-eco0c7">
                                            <div class="css-1xotm87">
                                                <div class="css-13u2beq"><p class="chakra-text css-hsnx4c">🎯</p></div>
                                                <div class="css-0">
                                                    <p class="chakra-text css-1ddr51z">Product Description</p>
                                                    <p class="chakra-text css-1isoeb5">Generate compelling &amp; high converting descriptions for product listings.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/horizon-ai-template/email-enhancer">
                                        <div class="css-eco0c7">
                                            <div class="css-1xotm87">
                                                <div class="css-13u2beq"><p class="chakra-text css-hsnx4c">📧</p></div>
                                                <div class="css-0">
                                                    <p class="chakra-text css-1ddr51z">Email Enhancer</p>
                                                    <p class="chakra-text css-1isoeb5">Generate an incredibly clickable email from text content.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/horizon-ai-template/linkedin-message">
                                        <div class="css-eco0c7">
                                            <div class="css-1xotm87">
                                                <div class="css-13u2beq"><p class="chakra-text css-hsnx4c">💬</p></div>
                                                <div class="css-0">
                                                    <p class="chakra-text css-1ddr51z">LinkedIn Message</p>
                                                    <p class="chakra-text css-1isoeb5">Generate a LinkedIn high-converting message based on a type or subject.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/horizon-ai-template/caption">
                                        <div class="css-eco0c7">
                                            <div class="css-1xotm87">
                                                <div class="css-13u2beq"><p class="chakra-text css-hsnx4c">🌄</p></div>
                                                <div class="css-0">
                                                    <p class="chakra-text css-1ddr51z">Instagram Caption</p>
                                                    <p class="chakra-text css-1isoeb5">Generate a compelling and engaging caption for an Instagram post.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/horizon-ai-template/faq">
                                        <div class="css-eco0c7">
                                            <div class="css-1xotm87">
                                                <div class="css-13u2beq"><p class="chakra-text css-hsnx4c">❓</p></div>
                                                <div class="css-0">
                                                    <p class="chakra-text css-1ddr51z">FAQs Content</p>
                                                    <p class="chakra-text css-1isoeb5">Generate FAQs for a product, web app, or landing pages.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/horizon-ai-template/name-generator">
                                        <div class="css-eco0c7">
                                            <div class="css-1xotm87">
                                                <div class="css-13u2beq"><p class="chakra-text css-hsnx4c">🏷️</p></div>
                                                <div class="css-0">
                                                    <p class="chakra-text css-1ddr51z">Product Name Generator</p>
                                                    <p class="chakra-text css-1isoeb5">Generate product names from example words, topics, or work industries.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/horizon-ai-template/seo-keywords">
                                        <div class="css-eco0c7">
                                            <div class="css-1xotm87">
                                                <div class="css-13u2beq"><p class="chakra-text css-hsnx4c">📈</p></div>
                                                <div class="css-0">
                                                    <p class="chakra-text css-1ddr51z">SEO Keywords</p>
                                                    <p class="chakra-text css-1isoeb5">Generate high-converting SEO keywords from a subject, name, and so on.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/horizon-ai-template/review-responder">
                                        <div class="css-eco0c7">
                                            <div class="css-1xotm87">
                                                <div class="css-13u2beq"><p class="chakra-text css-hsnx4c">🌟</p></div>
                                                <div class="css-0">
                                                    <p class="chakra-text css-1ddr51z">Review Responder</p>
                                                    <p class="chakra-text css-1isoeb5">Generate an accurate &amp; friendly response based on a customer review.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/horizon-ai-template/business-generator">
                                        <div class="css-eco0c7">
                                            <div class="css-1xotm87">
                                                <div class="css-13u2beq"><p class="chakra-text css-hsnx4c">💡</p></div>
                                                <div class="css-0">
                                                    <p class="chakra-text css-1ddr51z">Business Idea Generator</p>
                                                    <p class="chakra-text css-1isoeb5">Generate some business ideas based on topics, preferences, or budgets.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/horizon-ai-template/article">
                                        <div class="css-eco0c7">
                                            <div class="css-1xotm87">
                                                <div class="css-13u2beq"><p class="chakra-text css-hsnx4c">📄</p></div>
                                                <div class="css-0">
                                                    <p class="chakra-text css-1ddr51z">Article Generator</p>
                                                    <p class="chakra-text css-1isoeb5">Generate incredibly clickable and SEO Friendly article content.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/horizon-ai-template/plagiarism-checker">
                                        <div class="css-eco0c7">
                                            <div class="css-1xotm87">
                                                <div class="css-13u2beq"><p class="chakra-text css-hsnx4c">©️</p></div>
                                                <div class="css-0">
                                                    <p class="chakra-text css-1ddr51z">Plagiarism Checker</p>
                                                    <p class="chakra-text css-1isoeb5">Plagiarism checker for sentences and content.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/horizon-ai-template/hashtags-generator">
                                        <div class="css-eco0c7">
                                            <div class="css-1xotm87">
                                                <div class="css-13u2beq"><p class="chakra-text css-hsnx4c">#️⃣</p></div>
                                                <div class="css-0">
                                                    <p class="chakra-text css-1ddr51z">Hashtags Generator</p>
                                                    <p class="chakra-text css-1isoeb5">Generate outstanding hashtags for Instagram and social media.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/horizon-ai-template/pet-name-generator">
                                        <div class="css-eco0c7">
                                            <div class="css-1xotm87">
                                                <div class="css-13u2beq"><p class="chakra-text css-hsnx4c">🐶</p></div>
                                                <div class="css-0">
                                                    <p class="chakra-text css-1ddr51z">Pet Name Generator</p>
                                                    <p class="chakra-text css-1isoeb5">Generate a great name for your pet.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/horizon-ai-template/translator">
                                        <div class="css-eco0c7">
                                            <div class="css-1xotm87">
                                                <div class="css-13u2beq"><p class="chakra-text css-hsnx4c">🈳</p></div>
                                                <div class="css-0">
                                                    <p class="chakra-text css-1ddr51z">Content Translator</p>
                                                    <p class="chakra-text css-1isoeb5">Translate any type of content into your favorite language.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/horizon-ai-template/domain-name-generator">
                                        <div class="css-eco0c7">
                                            <div class="css-1xotm87">
                                                <div class="css-13u2beq"><p class="chakra-text css-hsnx4c">🔗</p></div>
                                                <div class="css-0">
                                                    <p class="chakra-text css-1ddr51z">Domain Name Generator</p>
                                                    <p class="chakra-text css-1isoeb5">Generate great domain names for your businesses.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/horizon-ai-template/bootstrap-to-tailwind-converter">
                                        <div class="css-eco0c7">
                                            <div class="css-1xotm87">
                                                <div class="css-13u2beq"><p class="chakra-text css-hsnx4c">💻</p></div>
                                                <div class="css-0">
                                                    <p class="chakra-text css-1ddr51z">Bootstrap to Tailwind Converter</p>
                                                    <p class="chakra-text css-1isoeb5">Convert any Bootstrap code to Tailwind CSS.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="css-0">
                            <style data-emotion="css ogz40h">
                                .css-ogz40h {
                                    display: -webkit-box;
                                    display: -webkit-flex;
                                    display: -ms-flexbox;
                                    display: flex;
                                    -webkit-flex-direction: column;
                                    -ms-flex-direction: column;
                                    flex-direction: column;
                                    -webkit-align-items: center;
                                    -webkit-box-align: center;
                                    -ms-flex-align: center;
                                    align-items: center;
                                    -webkit-box-pack: justify;
                                    -webkit-justify-content: space-between;
                                    justify-content: space-between;
                                    z-index: 3;
                                    -webkit-padding-start: 30px;
                                    padding-inline-start: 30px;
                                    -webkit-padding-end: 30px;
                                    padding-inline-end: 30px;
                                    padding-bottom: 30px;
                                }
                                @media screen and (min-width: 48em) {
                                    .css-ogz40h {
                                        -webkit-padding-start: 50px;
                                        padding-inline-start: 50px;
                                        -webkit-padding-end: 50px;
                                        padding-inline-end: 50px;
                                    }
                                }
                                @media screen and (min-width: 80em) {
                                    .css-ogz40h {
                                        -webkit-flex-direction: row;
                                        -ms-flex-direction: row;
                                        flex-direction: row;
                                    }
                                }
                            </style>
                            <div class="css-ogz40h">
                                <style data-emotion="css 17k5k5s">
                                    .css-17k5k5s {
                                        color: var(--chakra-colors-gray-500);
                                        font-size: var(--chakra-fontSizes-xs);
                                        text-align: center;
                                        font-weight: 500;
                                        margin-bottom: 10px;
                                    }
                                    @media screen and (min-width: 48em) {
                                        .css-17k5k5s {
                                            font-size: var(--chakra-fontSizes-sm);
                                        }
                                    }
                                    @media screen and (min-width: 80em) {
                                        .css-17k5k5s {
                                            text-align: start;
                                            margin-bottom: 0px;
                                        }
                                    }
                                </style>
                                <p class="chakra-text css-17k5k5s">
                                    <!-- -->©
                                    <!-- -->2023
                                    <style data-emotion="css 1ckssb9">
                                        .css-1ckssb9 {
                                            font-weight: 500;
                                            -webkit-margin-start: 4px;
                                            margin-inline-start: 4px;
                                        }
                                    </style>
                                    <span class="chakra-text css-1ckssb9">Horizon UI AI Template. All Rights Reserved.</span>
                                </p>
                                <style data-emotion="css 1ttwu97">
                                    .css-1ttwu97 {
                                        list-style-type: none;
                                        display: -webkit-box;
                                        display: -webkit-flex;
                                        display: -ms-flexbox;
                                        display: flex;
                                    }
                                </style>
                                <ul role="list" class="css-1ttwu97">
                                    <style data-emotion="css 1897is1">
                                        .css-1897is1 {
                                            -webkit-margin-end: 10px;
                                            margin-inline-end: 10px;
                                        }
                                        @media screen and (min-width: 48em) {
                                            .css-1897is1 {
                                                -webkit-margin-end: 44px;
                                                margin-inline-end: 44px;
                                            }
                                        }
                                    </style>
                                    <li class="css-1897is1">
                                        <style data-emotion="css 1y6bt33">
                                            .css-1y6bt33 {
                                                display: -webkit-inline-box;
                                                display: -webkit-inline-flex;
                                                display: -ms-inline-flexbox;
                                                display: inline-flex;
                                                -webkit-appearance: none;
                                                -moz-appearance: none;
                                                -ms-appearance: none;
                                                appearance: none;
                                                -webkit-align-items: center;
                                                -webkit-box-align: center;
                                                -ms-flex-align: center;
                                                align-items: center;
                                                -webkit-box-pack: center;
                                                -ms-flex-pack: center;
                                                -webkit-justify-content: center;
                                                justify-content: center;
                                                -webkit-user-select: none;
                                                -moz-user-select: none;
                                                -ms-user-select: none;
                                                user-select: none;
                                                position: relative;
                                                white-space: nowrap;
                                                vertical-align: middle;
                                                outline: 2px solid transparent;
                                                outline-offset: 2px;
                                                width: auto;
                                                line-height: 1.2;
                                                border-radius: 16px;
                                                font-weight: 500;
                                                transition-property: var(--chakra-transition-property-common);
                                                transition-duration: var(--chakra-transition-duration-normal);
                                                box-shadow: 45px 76px 113px 7px rgba(112, 144, 176, 0.08);
                                                -webkit-transition: 0.25s all ease;
                                                transition: 0.25s all ease;
                                                box-sizing: border-box;
                                                height: var(--chakra-sizes-10);
                                                min-width: var(--chakra-sizes-10);
                                                font-size: var(--chakra-fontSizes-xs);
                                                -webkit-padding-start: var(--chakra-space-4);
                                                padding-inline-start: var(--chakra-space-4);
                                                -webkit-padding-end: var(--chakra-space-4);
                                                padding-inline-end: var(--chakra-space-4);
                                                background: var(--chakra-colors-transparent);
                                                color: var(--chakra-colors-gray-500);
                                                padding: 0px;
                                            }
                                            .css-1y6bt33:focus,
                                            .css-1y6bt33[data-focus] {
                                                box-shadow: var(--chakra-shadows-none);
                                                background: var(--chakra-colors-transparent);
                                            }
                                            .css-1y6bt33[disabled],
                                            .css-1y6bt33[aria-disabled="true"],
                                            .css-1y6bt33[data-disabled] {
                                                opacity: 0.4;
                                                cursor: not-allowed;
                                                box-shadow: var(--chakra-shadows-none);
                                            }
                                            .css-1y6bt33:hover,
                                            .css-1y6bt33[data-hover] {
                                                box-shadow: unset;
                                                -webkit-text-decoration: underline;
                                                text-decoration: underline;
                                                background: var(--chakra-colors-transparent);
                                            }
                                            .css-1y6bt33:hover[disabled],
                                            .css-1y6bt33[data-hover][disabled],
                                            .css-1y6bt33:hover[aria-disabled="true"],
                                            .css-1y6bt33[data-hover][aria-disabled="true"],
                                            .css-1y6bt33:hover[data-disabled],
                                            .css-1y6bt33[data-hover][data-disabled] {
                                                background: initial;
                                            }
                                            .css-1y6bt33:active,
                                            .css-1y6bt33[data-active] {
                                                box-shadow: var(--chakra-shadows-none);
                                                background: var(--chakra-colors-transparent);
                                            }
                                            @media screen and (min-width: 48em) {
                                                .css-1y6bt33 {
                                                    font-size: var(--chakra-fontSizes-sm);
                                                }
                                            }
                                        </style>
                                        <a class="chakra-button css-1y6bt33" href="https://horizon-ui.com/pro">Homepage</a>
                                    </li>
                                    <li class="css-1897is1"><a class="chakra-button css-1y6bt33" href="https://horizon-ui.notion.site/End-User-License-Agreement-8fb09441ea8c4c08b60c37996195a6d5">License</a></li>
                                    <li class="css-1897is1"><a class="chakra-button css-1y6bt33" href="https://horizon-ui.notion.site/Terms-Conditions-6e79229d25ed48f48a481962bc6de3ee">Terms of Use</a></li>
                                    <li class="css-0"><a class="chakra-button css-1y6bt33" href="https://horizon-ui.notion.site/Privacy-Policy-8addde50aa8e408ca5c5f5811c38f971">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        {% endblock %}