{% extends 'base_ai.html' %}
{% block content %}
<span></span>
<style data-emotion="css 16ld5u0">
    .css-16ld5u0 {
        -webkit-margin-start: auto;
        margin-inline-start: auto;
        -webkit-margin-end: auto;
        margin-inline-end: auto;
        padding: 20px;
        -webkit-padding-end: 20px;
        padding-inline-end: 20px;
        min-height: 100vh;
        padding-top: 50px;
    }
    @media screen and (min-width: 48em) {
        .css-16ld5u0 {
            padding: 30px;
        }
    }
</style>
<div class="css-16ld5u0">
    <style data-emotion="css 1k6m9o">
        .css-1k6m9o {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            padding-top: 70px;
            position: relative;
        }
        @media screen and (min-width: 48em) {
            .css-1k6m9o {
                padding-top: 0px;
            }
        }
    </style>
    <div class="css-1k6m9o">
        <style data-emotion="css dyg63l">
            .css-dyg63l {
                position: absolute;
                width: 350px;
                left: 50%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        </style>
        <img class="chakra-image css-dyg63l" src="https://horizon-ui.com/horizon-ai-template/_next/static/media/bg-image.4b3208f1.png" />
        <style data-emotion="css 1799jpi">
            .css-1799jpi {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-margin-start: auto;
                margin-inline-start: auto;
                -webkit-margin-end: auto;
                margin-inline-end: auto;
                width: 100%;
                min-height: 75vh;
                max-width: 1000px;
            }
            @media screen and (min-width: 48em) {
                .css-1799jpi {
                    width: 100%;
                }
            }
            @media screen and (min-width: 80em) {
                .css-1799jpi {
                    width: 100%;
                }
            }
            @media screen and (min-width: 96em) {
                .css-1799jpi {
                    min-height: 85vh;
                }
            }
        </style>
        <div class="css-1799jpi">
            <style data-emotion="css 1ckk6fk">
                .css-1ckk6fk {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    width: 100%;
                    margin-bottom: auto;
                }
            </style>
            <div class="css-1ckk6fk">
                <style data-emotion="css 1q2fuvl">
                    .css-1q2fuvl {
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-margin-start: auto;
                        margin-inline-start: auto;
                        -webkit-margin-end: auto;
                        margin-inline-end: auto;
                        z-index: 2;
                        width: -webkit-max-content;
                        width: -moz-max-content;
                        width: max-content;
                        margin-bottom: 20px;
                        border-radius: 60px;
                    }
                </style>
                
                <style data-emotion="css u2qg2g">
                    .css-u2qg2g {
                        color: var(--chakra-colors-gray-500);
                        width: 100%;
                        margin-top: 0px;
                        margin-bottom: 0px;
                        -webkit-margin-start: auto;
                        margin-inline-start: auto;
                        -webkit-margin-end: auto;
                        margin-inline-end: auto;
                    }
                </style>
                <div class="chakra-accordion css-u2qg2g">
                    <style data-emotion="css 1t7rcca">
                        .css-1t7rcca {
                            border-top-width: 1px;
                            border-color: inherit;
                            overflow-anchor: none;
                            border: var(--chakra-borders-none);
                        }
                        .css-1t7rcca:last-of-type {
                            border-bottom-width: 1px;
                        }
                    </style>
                    <div class="chakra-accordion__item css-1t7rcca">
                        <style data-emotion="css 18lnnuz">
                            .css-18lnnuz {
                                display: -webkit-box;
                                display: -webkit-flex;
                                display: -ms-flexbox;
                                display: flex;
                                -webkit-align-items: center;
                                -webkit-box-align: center;
                                -ms-flex-align: center;
                                align-items: center;
                                width: 100%;
                                outline: 2px solid transparent;
                                outline-offset: 2px;
                                transition-property: var(--chakra-transition-property-common);
                                transition-duration: var(--chakra-transition-duration-normal);
                                font-size: 1rem;
                                -webkit-padding-start: var(--chakra-space-4);
                                padding-inline-start: var(--chakra-space-4);
                                -webkit-padding-end: var(--chakra-space-4);
                                padding-inline-end: var(--chakra-space-4);
                                padding-top: var(--chakra-space-2);
                                padding-bottom: var(--chakra-space-2);
                                border-bottom: 0px solid;
                                max-width: -webkit-max-content;
                                max-width: -moz-max-content;
                                max-width: max-content;
                                -webkit-margin-start: auto;
                                margin-inline-start: auto;
                                -webkit-margin-end: auto;
                                margin-inline-end: auto;
                            }
                            .css-18lnnuz:focus,
                            .css-18lnnuz[data-focus] {
                                border: 0px solid;
                                background: none;
                            }
                            .css-18lnnuz:hover,
                            .css-18lnnuz[data-hover] {
                                border: 0px solid;
                                background: none;
                            }
                            .css-18lnnuz[disabled],
                            .css-18lnnuz[aria-disabled="true"],
                            .css-18lnnuz[data-disabled] {
                                opacity: 0.4;
                                cursor: not-allowed;
                            }
                        </style>
                        <div class="chakra-collapse" style="overflow: hidden; display: none; opacity: 0; height: 0px;">
                            <style data-emotion="css 19lx6tm">
                                .css-19lx6tm {
                                    padding-top: var(--chakra-space-2);
                                    -webkit-padding-start: var(--chakra-space-4);
                                    padding-inline-start: var(--chakra-space-4);
                                    -webkit-padding-end: var(--chakra-space-4);
                                    padding-inline-end: var(--chakra-space-4);
                                    padding-bottom: var(--chakra-space-5);
                                    -webkit-margin-start: auto;
                                    margin-inline-start: auto;
                                    -webkit-margin-end: auto;
                                    margin-inline-end: auto;
                                    width: -webkit-max-content;
                                    width: -moz-max-content;
                                    width: max-content;
                                    padding: 0px 0px 10px 0px;
                                }
                            </style>
                            <div role="region" id="accordion-panel-1" aria-labelledby="accordion-button-1" class="chakra-accordion__panel css-19lx6tm">
                                <style data-emotion="css 1l5ysv3">
                                    .css-1l5ysv3 {
                                        color: var(--chakra-colors-gray-500);
                                        font-weight: 500;
                                        font-size: var(--chakra-fontSizes-sm);
                                        text-align: center;
                                    }
                                </style>
                                <p class="chakra-text css-1l5ysv3">This is a cool text example.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <style data-emotion="css 13lhkjo">
                .css-13lhkjo {
                    display: none;
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    width: 100%;
                    -webkit-margin-start: auto;
                    margin-inline-start: auto;
                    -webkit-margin-end: auto;
                    margin-inline-end: auto;
                    margin-bottom: auto;
                }
            </style>
            <div class="css-13lhkjo">
                <style data-emotion="css 9bephp">
                    .css-9bephp {
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-align-items: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        width: 100%;
                        margin-bottom: 10px;
                    }
                </style>
                <div class="css-9bephp">
                    <style data-emotion="css 1h62d89">
                        .css-1h62d89 {
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-align-items: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            -webkit-justify-content: center;
                            justify-content: center;
                            border-radius: var(--chakra-radii-full);
                            background: var(--chakra-colors-transparent);
                            border: 1px solid;
                            border-color: var(--chakra-colors-gray-200);
                            -webkit-margin-end: 20px;
                            margin-inline-end: 20px;
                            height: 40px;
                            min-height: 40px;
                            min-width: 40px;
                        }
                    </style>
                    <div class="css-1h62d89">
                        <svg
                            stroke="currentColor"
                            fill="currentColor"
                            stroke-width="0"
                            viewBox="0 0 24 24"
                            focusable="false"
                            class="chakra-icon css-1ie6an7"
                            height="1em"
                            width="1em"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"></path>
                        </svg>
                    </div>
                    <style data-emotion="css wybkwz">
                        .css-wybkwz {
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            padding: 22px;
                            border: 1px solid;
                            border-color: var(--chakra-colors-gray-200);
                            border-radius: 14px;
                            width: 100%;
                            z-index: 2;
                        }
                    </style>
                    <div class="css-wybkwz">
                        <style data-emotion="css ml871w">
                            .css-ml871w {
                                color: var(--chakra-colors-navy-700);
                                font-weight: 600;
                                font-size: var(--chakra-fontSizes-sm);
                                line-height: 24px;
                            }
                            @media screen and (min-width: 48em) {
                                .css-ml871w {
                                    font-size: var(--chakra-fontSizes-md);
                                    line-height: 26px;
                                }
                            }
                        </style>
                        <p class="chakra-text css-ml871w"></p>
                        <style data-emotion="css uuq0e0">
                            .css-uuq0e0 {
                                width: 20px;
                                height: 20px;
                                display: inline-block;
                                line-height: 1em;
                                -webkit-flex-shrink: 0;
                                -ms-flex-negative: 0;
                                flex-shrink: 0;
                                color: var(--chakra-colors-gray-500);
                                cursor: pointer;
                                -webkit-margin-start: auto;
                                margin-inline-start: auto;
                            }
                        </style>
                        <svg
                            stroke="currentColor"
                            fill="currentColor"
                            stroke-width="0"
                            viewBox="0 0 24 24"
                            focusable="false"
                            class="chakra-icon css-uuq0e0"
                            height="1em"
                            width="1em"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04a.996.996 0 000-1.41l-2.34-2.34a.996.996 0 00-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"></path>
                        </svg>
                    </div>
                </div>
                <style data-emotion="css hboir5">
                    .css-hboir5 {
                        display: -webkit-box;
                        display: -webkit-flex;
                        display: -ms-flexbox;
                        display: flex;
                        width: 100%;
                    }
                </style>
                <div class="css-hboir5">
                    <style data-emotion="css 1oo0gu1">
                        .css-1oo0gu1 {
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-align-items: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            -webkit-justify-content: center;
                            justify-content: center;
                            border-radius: var(--chakra-radii-full);
                            background: linear-gradient(15.46deg, #4a25e1 26.3%, #7b5aff 86.4%);
                            -webkit-margin-end: 20px;
                            margin-inline-end: 20px;
                            height: 40px;
                            min-height: 40px;
                            min-width: 40px;
                        }
                    </style>
                    <div class="css-1oo0gu1">
                        <style data-emotion="css 1rgvbqi">
                            .css-1rgvbqi {
                                width: 20px;
                                height: 20px;
                                display: inline-block;
                                line-height: 1em;
                                -webkit-flex-shrink: 0;
                                -ms-flex-negative: 0;
                                flex-shrink: 0;
                                color: white;
                            }
                        </style>
                        <svg
                            stroke="currentColor"
                            fill="currentColor"
                            stroke-width="0"
                            viewBox="0 0 24 24"
                            focusable="false"
                            class="chakra-icon css-1rgvbqi"
                            height="1em"
                            width="1em"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path
                                d="M19 9l1.25-2.75L23 5l-2.75-1.25L19 1l-1.25 2.75L15 5l2.75 1.25L19 9zm-7.5.5L9 4 6.5 9.5 1 12l5.5 2.5L9 20l2.5-5.5L17 12l-5.5-2.5zM19 15l-1.25 2.75L15 19l2.75 1.25L19 23l1.25-2.75L23 19l-2.75-1.25L19 15z"
                            ></path>
                        </svg>
                    </div>
                    <style data-emotion="css n1b7gr">
                        .css-n1b7gr {
                            padding: 20px;
                            display: none;
                            -webkit-flex-direction: column;
                            -ms-flex-direction: column;
                            flex-direction: column;
                            width: 100%;
                            position: relative;
                            border-radius: 14px;
                            min-width: 0px;
                            word-wrap: break-word;
                            background: #ffffff;
                            box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.08);
                            -webkit-background-clip: border-box;
                            background-clip: border-box;
                            -webkit-padding-start: 22px !important;
                            padding-inline-start: 22px !important;
                            -webkit-padding-end: 22px !important;
                            padding-inline-end: 22px !important;
                            padding-left: 22px !important;
                            color: var(--chakra-colors-navy-700);
                            min-height: 450px;
                            font-size: var(--chakra-fontSizes-sm);
                            line-height: 24px;
                            font-weight: 500;
                        }
                        @media screen and (min-width: 48em) {
                            .css-n1b7gr {
                                font-size: var(--chakra-fontSizes-md);
                                line-height: 26px;
                            }
                        }
                    </style>
                    <div class="css-n1b7gr"><div class="font-medium"></div></div>
                </div>
            </div>
            <style data-emotion="css 6n9yju">
                .css-6n9yju {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-margin-start: 0px;
                    margin-inline-start: 0px;
                    margin-top: 20px;
                    justify-self: flex-end;
                }
                @media screen and (min-width: 80em) {
                    .css-6n9yju {
                        -webkit-margin-start: 60px;
                        margin-inline-start: 60px;
                    }
                }
            </style>
            <div class="css-6n9yju">
                <style data-emotion="css 1pgcnou">
                    .css-1pgcnou {
                        width: 100%;
                        min-width: 0px;
                        outline: 2px solid transparent;
                        outline-offset: 2px;
                        position: relative;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -ms-appearance: none;
                        appearance: none;
                        transition-property: var(--chakra-transition-property-common);
                        transition-duration: var(--chakra-transition-duration-normal);
                        font-weight: 500;
                        border-radius: 45px;
                        font-size: var(--chakra-fontSizes-sm);
                        -webkit-padding-start: var(--chakra-space-4);
                        padding-inline-start: var(--chakra-space-4);
                        -webkit-padding-end: var(--chakra-space-4);
                        padding-inline-end: var(--chakra-space-4);
                        height: 100%;
                        border: 1px solid;
                        border-color: var(--chakra-colors-gray-200);
                        background: inherit;
                        min-height: 54px;
                        padding: 15px 20px;
                        -webkit-margin-end: 10px;
                        margin-inline-end: 10px;
                        color: var(--chakra-colors-navy-700);
                    }
                    .css-1pgcnou:hover,
                    .css-1pgcnou[data-hover] {
                        border-color: var(--chakra-colors-gray-300);
                    }
                    .css-1pgcnou[aria-readonly="true"],
                    .css-1pgcnou[readonly],
                    .css-1pgcnou[data-readonly] {
                        box-shadow: none !important;
                        -webkit-user-select: all;
                        -moz-user-select: all;
                        -ms-user-select: all;
                        user-select: all;
                    }
                    .css-1pgcnou[disabled],
                    .css-1pgcnou[aria-disabled="true"],
                    .css-1pgcnou[data-disabled] {
                        opacity: 0.4;
                        cursor: not-allowed;
                    }
                    .css-1pgcnou[aria-invalid="true"],
                    .css-1pgcnou[data-invalid] {
                        border-color: #ee5d50;
                        box-shadow: 0 0 0 1px #ee5d50;
                    }
                    .css-1pgcnou:focus,
                    .css-1pgcnou[data-focus] {
                        border-color: none;
                    }
                    .css-1pgcnou::-webkit-input-placeholder {
                        color: var(--chakra-colors-gray-500);
                    }
                    .css-1pgcnou::-moz-placeholder {
                        color: var(--chakra-colors-gray-500);
                    }
                    .css-1pgcnou:-ms-input-placeholder {
                        color: var(--chakra-colors-gray-500);
                    }
                    .css-1pgcnou::placeholder {
                        color: var(--chakra-colors-gray-500);
                    }
                </style>
                <input placeholder="Type your message here..." class="chakra-input css-1pgcnou" />
                <style data-emotion="css gllksg">
                    .css-gllksg {
                        display: -webkit-inline-box;
                        display: -webkit-inline-flex;
                        display: -ms-inline-flexbox;
                        display: inline-flex;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -ms-appearance: none;
                        appearance: none;
                        -webkit-align-items: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        position: relative;
                        white-space: nowrap;
                        vertical-align: middle;
                        outline: 2px solid transparent;
                        outline-offset: 2px;
                        width: 160px;
                        line-height: 1.2;
                        border-radius: 45px;
                        font-weight: var(--chakra-fontWeights-semibold);
                        transition-property: var(--chakra-transition-property-common);
                        transition-duration: var(--chakra-transition-duration-normal);
                        box-shadow: var(--chakra-shadows-none);
                        -webkit-transition: 0.25s all ease;
                        transition: 0.25s all ease;
                        box-sizing: border-box;
                        height: 54px;
                        min-width: var(--chakra-sizes-10);
                        font-size: var(--chakra-fontSizes-sm);
                        -webkit-padding-start: 16px;
                        padding-inline-start: 16px;
                        -webkit-padding-end: 16px;
                        padding-inline-end: 16px;
                        background: linear-gradient(15.46deg, #4a25e1 26.3%, #7b5aff 86.4%);
                        color: white;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        -webkit-margin-start: auto;
                        margin-inline-start: auto;
                    }
                    .css-gllksg:focus,
                    .css-gllksg[data-focus] {
                        box-shadow: var(--chakra-shadows-none);
                        background: linear-gradient(15.46deg, #4a25e1 26.3%, #7b5aff 86.4%);
                    }
                    .css-gllksg[disabled],
                    .css-gllksg[aria-disabled="true"],
                    .css-gllksg[data-disabled] {
                        opacity: 0.4;
                        cursor: not-allowed;
                        box-shadow: var(--chakra-shadows-none);
                    }
                    .css-gllksg:hover,
                    .css-gllksg[data-hover] {
                        box-shadow: 0px 21px 27px -10px rgba(96, 60, 255, 0.48) !important;
                        background: linear-gradient(15.46deg, #4a25e1 26.3%, #7b5aff 86.4%) !important;
                    }
                    .css-gllksg:hover[disabled],
                    .css-gllksg[data-hover][disabled],
                    .css-gllksg:hover[aria-disabled="true"],
                    .css-gllksg[data-hover][aria-disabled="true"],
                    .css-gllksg:hover[data-disabled],
                    .css-gllksg[data-hover][data-disabled] {
                        background: linear-gradient(15.46deg, #4a25e1 26.3%, #7b5aff 86.4%);
                    }
                    .css-gllksg:active,
                    .css-gllksg[data-active] {
                        box-shadow: var(--chakra-shadows-none);
                        background: linear-gradient(15.46deg, #4a25e1 26.3%, #7b5aff 86.4%);
                    }
                    @media screen and (min-width: 48em) {
                        .css-gllksg {
                            width: 210px;
                        }
                    }
                </style>
                <button type="button" class="chakra-button css-gllksg">Submit</button>
            </div>
            <style data-emotion="css pt5ala">
                .css-pt5ala {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-flex-direction: column;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    -webkit-align-items: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    margin-top: 20px;
                }
                @media screen and (min-width: 48em) {
                    .css-pt5ala {
                        -webkit-flex-direction: row;
                        -ms-flex-direction: row;
                        flex-direction: row;
                    }
                }
            </style>
            <div class="css-pt5ala">
                <style data-emotion="css 1lsx711">
                    .css-1lsx711 {
                        font-size: var(--chakra-fontSizes-xs);
                        text-align: center;
                        color: var(--chakra-colors-gray-500);
                    }
                </style>
                
                <style data-emotion="css bd0lms">
                    .css-bd0lms {
                        display: -webkit-inline-box;
                        display: -webkit-inline-flex;
                        display: -ms-inline-flexbox;
                        display: inline-flex;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -ms-appearance: none;
                        appearance: none;
                        -webkit-align-items: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        position: relative;
                        white-space: nowrap;
                        vertical-align: middle;
                        outline: 2px solid transparent;
                        outline-offset: 2px;
                        width: auto;
                        line-height: 1.2;
                        border-radius: 16px;
                        font-weight: var(--chakra-fontWeights-semibold);
                        transition-property: var(--chakra-transition-property-common);
                        transition-duration: var(--chakra-transition-duration-normal);
                        box-shadow: 45px 76px 113px 7px rgba(112, 144, 176, 0.08);
                        -webkit-transition: 0.25s all ease;
                        transition: 0.25s all ease;
                        box-sizing: border-box;
                        height: var(--chakra-sizes-10);
                        min-width: var(--chakra-sizes-10);
                        font-size: var(--chakra-fontSizes-md);
                        -webkit-padding-start: var(--chakra-space-4);
                        padding-inline-start: var(--chakra-space-4);
                        -webkit-padding-end: var(--chakra-space-4);
                        padding-inline-end: var(--chakra-space-4);
                        background: var(--chakra-colors-transparent);
                        color: var(--chakra-colors-transparent);
                        padding: 0px;
                    }
                    .css-bd0lms:focus,
                    .css-bd0lms[data-focus] {
                        box-shadow: var(--chakra-shadows-none);
                        background: var(--chakra-colors-transparent);
                    }
                    .css-bd0lms[disabled],
                    .css-bd0lms[aria-disabled="true"],
                    .css-bd0lms[data-disabled] {
                        opacity: 0.4;
                        cursor: not-allowed;
                        box-shadow: var(--chakra-shadows-none);
                    }
                    .css-bd0lms:hover,
                    .css-bd0lms[data-hover] {
                        box-shadow: unset;
                        -webkit-text-decoration: underline;
                        text-decoration: underline;
                        background: var(--chakra-colors-transparent);
                    }
                    .css-bd0lms:hover[disabled],
                    .css-bd0lms[data-hover][disabled],
                    .css-bd0lms:hover[aria-disabled="true"],
                    .css-bd0lms[data-hover][aria-disabled="true"],
                    .css-bd0lms:hover[data-disabled],
                    .css-bd0lms[data-hover][data-disabled] {
                        background: initial;
                    }
                    .css-bd0lms:active,
                    .css-bd0lms[data-active] {
                        box-shadow: var(--chakra-shadows-none);
                        background: var(--chakra-colors-transparent);
                    }
                </style>
            </div>
        </div>
    </div>
</div>
<div class="css-0">
    <style data-emotion="css ogz40h">
        .css-ogz40h {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            justify-content: space-between;
            z-index: 3;
            -webkit-padding-start: 30px;
            padding-inline-start: 30px;
            -webkit-padding-end: 30px;
            padding-inline-end: 30px;
            padding-bottom: 30px;
        }
        @media screen and (min-width: 48em) {
            .css-ogz40h {
                -webkit-padding-start: 50px;
                padding-inline-start: 50px;
                -webkit-padding-end: 50px;
                padding-inline-end: 50px;
            }
        }
        @media screen and (min-width: 80em) {
            .css-ogz40h {
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
            }
        }
    </style>
    <div class="css-ogz40h">
        <style data-emotion="css 17k5k5s">
            .css-17k5k5s {
                color: var(--chakra-colors-gray-500);
                font-size: var(--chakra-fontSizes-xs);
                text-align: center;
                font-weight: 500;
                margin-bottom: 10px;
            }
            @media screen and (min-width: 48em) {
                .css-17k5k5s {
                    font-size: var(--chakra-fontSizes-sm);
                }
            }
            @media screen and (min-width: 80em) {
                .css-17k5k5s {
                    text-align: start;
                    margin-bottom: 0px;
                }
            }
        </style>
        <p class="chakra-text css-17k5k5s">
            <!-- -->©
            <!-- -->2023
            <style data-emotion="css 1ckssb9">
                .css-1ckssb9 {
                    font-weight: 500;
                    -webkit-margin-start: 4px;
                    margin-inline-start: 4px;
                }
            </style>
            <span class="chakra-text css-1ckssb9">Horizon UI AI Template. All Rights Reserved.</span>
        </p>
        <style data-emotion="css 1ttwu97">
            .css-1ttwu97 {
                list-style-type: none;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
            }
        </style>
        <ul role="list" class="css-1ttwu97">
            <style data-emotion="css 1897is1">
                .css-1897is1 {
                    -webkit-margin-end: 10px;
                    margin-inline-end: 10px;
                }
                @media screen and (min-width: 48em) {
                    .css-1897is1 {
                        -webkit-margin-end: 44px;
                        margin-inline-end: 44px;
                    }
                }
            </style>
            <li class="css-1897is1">
                <style data-emotion="css 1y6bt33">
                    .css-1y6bt33 {
                        display: -webkit-inline-box;
                        display: -webkit-inline-flex;
                        display: -ms-inline-flexbox;
                        display: inline-flex;
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        -ms-appearance: none;
                        appearance: none;
                        -webkit-align-items: center;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        -ms-flex-pack: center;
                        -webkit-justify-content: center;
                        justify-content: center;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        position: relative;
                        white-space: nowrap;
                        vertical-align: middle;
                        outline: 2px solid transparent;
                        outline-offset: 2px;
                        width: auto;
                        line-height: 1.2;
                        border-radius: 16px;
                        font-weight: 500;
                        transition-property: var(--chakra-transition-property-common);
                        transition-duration: var(--chakra-transition-duration-normal);
                        box-shadow: 45px 76px 113px 7px rgba(112, 144, 176, 0.08);
                        -webkit-transition: 0.25s all ease;
                        transition: 0.25s all ease;
                        box-sizing: border-box;
                        height: var(--chakra-sizes-10);
                        min-width: var(--chakra-sizes-10);
                        font-size: var(--chakra-fontSizes-xs);
                        -webkit-padding-start: var(--chakra-space-4);
                        padding-inline-start: var(--chakra-space-4);
                        -webkit-padding-end: var(--chakra-space-4);
                        padding-inline-end: var(--chakra-space-4);
                        background: var(--chakra-colors-transparent);
                        color: var(--chakra-colors-gray-500);
                        padding: 0px;
                    }
                    .css-1y6bt33:focus,
                    .css-1y6bt33[data-focus] {
                        box-shadow: var(--chakra-shadows-none);
                        background: var(--chakra-colors-transparent);
                    }
                    .css-1y6bt33[disabled],
                    .css-1y6bt33[aria-disabled="true"],
                    .css-1y6bt33[data-disabled] {
                        opacity: 0.4;
                        cursor: not-allowed;
                        box-shadow: var(--chakra-shadows-none);
                    }
                    .css-1y6bt33:hover,
                    .css-1y6bt33[data-hover] {
                        box-shadow: unset;
                        -webkit-text-decoration: underline;
                        text-decoration: underline;
                        background: var(--chakra-colors-transparent);
                    }
                    .css-1y6bt33:hover[disabled],
                    .css-1y6bt33[data-hover][disabled],
                    .css-1y6bt33:hover[aria-disabled="true"],
                    .css-1y6bt33[data-hover][aria-disabled="true"],
                    .css-1y6bt33:hover[data-disabled],
                    .css-1y6bt33[data-hover][data-disabled] {
                        background: initial;
                    }
                    .css-1y6bt33:active,
                    .css-1y6bt33[data-active] {
                        box-shadow: var(--chakra-shadows-none);
                        background: var(--chakra-colors-transparent);
                    }
                    @media screen and (min-width: 48em) {
                        .css-1y6bt33 {
                            font-size: var(--chakra-fontSizes-sm);
                        }
                    }
                </style>
                <a class="chakra-button css-1y6bt33" href="https://horizon-ui.com/pro">Homepage</a>
            </li>
            <li class="css-1897is1"><a class="chakra-button css-1y6bt33" href="https://horizon-ui.notion.site/End-User-License-Agreement-8fb09441ea8c4c08b60c37996195a6d5">License</a></li>
            <li class="css-1897is1"><a class="chakra-button css-1y6bt33" href="https://horizon-ui.notion.site/Terms-Conditions-6e79229d25ed48f48a481962bc6de3ee">Terms of Use</a></li>
            <li class="css-0"><a class="chakra-button css-1y6bt33" href="https://horizon-ui.notion.site/Privacy-Policy-8addde50aa8e408ca5c5f5811c38f971">Privacy Policy</a></li>
        </ul>
    </div>
</div>
{% endblock %}